@model WebApplication.Models.DealerPersons
@{
    ViewBag.Title = "新增據點人員";
    ViewBag.icon = "fa fa-cog";
}

@section Menu {
    @Scripts.Render("~/Scripts/Forms/Advanced/menu")
}

@Styles.Render("~/AdminLTE/plugins/timepicker/css")

@if (TempData["MemberResult"] != null)
{
    if (TempData["MemberResult"].ToString() == "OK")
    {
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Modify OK!!。</strong>
        </div>
    }
    else
    {
        <br />
        <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>@TempData["MemberResult"].ToString()</strong>
        </div>
    }
}

<div class="col-xs-8">
    <div class="">
        @using (Html.BeginForm("CreatePersonInProgress", "Dealer", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="form-group has-feedback" style="padding-bottom:40px">
                <label for="inputEmail3" class="col-sm-2 control-label">姓名<span style="color:#a94442;font-size: 18px;">*</span></label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.name, new { @class = "form-control", placeholder = "姓名" })
                </div>
            </div>
            <div class="form-group has-feedback" style="padding-bottom:40px">
                <label for="inputEmail3" class="col-sm-2 control-label">手機<span style="color:#a94442;font-size: 18px;">*</span></label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.mobile, new { @class = "form-control", placeholder = "手機" })
                </div>
            </div>
            <div class="form-group has-feedback" style="padding-bottom:40px">
                <label for="inputEmail3" class="col-sm-2 control-label">Email<span style="color:#a94442;font-size: 18px;">*</span></label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.email, new { @class = "form-control", placeholder = "Email",  @type = "email"  })
                </div>
            </div>
            <div class="" style="padding-bottom:40px">
                <label for="inputEmail3" class="col-sm-2 control-label">地區<span style="color:#a94442;font-size: 18px;">*</span></label>
                <div class="col-sm-10">
                    <select name="area" onchange="GetDealer()" id="area">
                        <option value="">==請選擇地區==</option>
                        <option value="基隆市">基隆市</option>
                        <option value="台北市">台北市</option>
                        <option value="新北市">新北市</option>
                        <option value="桃園市">桃園市</option>
                        <option value="新竹市">新竹市</option>
                        <option value="新竹縣">新竹縣</option>
                        <option value="苗栗縣">苗栗縣</option>
                        <option value="台中市">台中市</option>
                        <option value="彰化縣">彰化縣</option>
                        <option value="南投縣">南投縣</option>
                        <option value="雲林縣">雲林縣</option>
                        <option value="嘉義市">嘉義市</option>
                        <option value="嘉義縣">嘉義縣</option>
                        <option value="台南市">台南市</option>
                        <option value="高雄市">高雄市</option>
                        <option value="屏東縣">屏東縣</option>
                        <option value="台東縣">台東縣</option>
                        <option value="花蓮縣">花蓮縣</option>
                        <option value="宜蘭縣">宜蘭縣</option>
                    </select>
                </div>
            </div>

            <div class="form-group has-feedback" style="padding-bottom:40px">
                <label for="inputEmail3" class="col-sm-2 control-label">經銷商<span style="color:#a94442;font-size: 18px;">*</span></label>
                <div class="col-sm-10">
                    <select name="dealer" id="dealerName" onchange="GetBusinessOffice()">
                        @*<option value="">==請選擇經銷商==</option>
                        <option value="裕信">裕信</option>
                        <option value="誠隆">誠隆</option>
                        <option value="元隆">元隆</option>
                        <option value="裕新">裕新</option>
                        <option value="裕唐">裕唐</option>
                        <option value="匯聯">匯聯</option>
                        <option value="裕民">裕民</option>
                        <option value="國通">國通</option>
                        <option value="裕昌">裕昌</option>
                        <option value="連誠">連誠</option>
                        <option value="元智">元智</option>*@
                    </select>
                </div>
            </div>
            <div class="form-group has-feedback" style="padding-bottom:40px">
                <label for="inputEmail3" class="col-sm-2 control-label">營業所名稱<span style="color:#a94442;font-size: 18px;">*</span></label>
                <div class="col-sm-10">
                    <select name="businessOffice"  id="businessOffice">
                    </select>
                </div>
            </div>

            <br />
            <div class="row">
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">新增</button>
                </div>
            </div>
        }

    </div>
</div>


@section Scripts {
    @Scripts.Render("~/AdminLTE/plugins/select2/js")
    @Scripts.Render("~/AdminLTE/plugins/input-mask/js")
    @Scripts.Render("~/AdminLTE/plugins/momentjs/js")
    @Scripts.Render("~/AdminLTE/plugins/daterangepicker/js")
    @Scripts.Render("~/AdminLTE/plugins/colorpicker/js")
    @Scripts.Render("~/AdminLTE/plugins/timepicker/js")
    @Scripts.Render("~/AdminLTE/plugins/icheck/js")
    @Scripts.Render("~/Scripts/Forms/Advanced")

<script>
        $(".sidebar-menu > li").each(function () {
            var navItem = $(this);
            if (navItem.find("a").find("span").text() == "經銷據點人員管理") {
                navItem.addClass('active');
            }
        });

        function GetDealer() {
            var area = $('#area').find(":selected").val();;
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetDealer", "Dealer")',
                data: { area: area },
                success: function (data) {
                    var list = data.list;
                    console.log(data);
                    $('#dealerName').empty();
                    $('#dealerName').append("<option value=''>==請選擇經銷商==</option>")
                    $.each(list, function (index, item) {
                        $('#dealerName').append("<option value='" + item + "'>" + item + "</option>")
                    });
                }
            })
        }

        function GetBusinessOffice() {
            var dealerName = $('#dealerName').find(":selected").val();;
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetBusinessOffice", "Dealer")',
                data: { dealerName: dealerName, type: "old" },
                success: function (data) {
                    var list = data.list;
                    console.log(data);
                    $('#businessOffice').empty();
                    $.each(list, function (index, item) {
                        $('#businessOffice').append("<option value='" + item + "'>" + item + "</option>")
                    });
                }
            })
        }
</script>
}


